---

import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro'
import Hero from "../components/Hero.astro"
import SectionTwo from "../components/SectionTwo.astro"
import AboutSection from '@/components/AboutSection.astro'

---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Falase Femi Portolio</title>
	</head>
	<Layout title="Falase Femi Portfolio.">
		<body class="font-bangers">
			<div class="max-w-7xl w-full px-4  md:px-8 mx-auto">
				<Hero />
				<SectionTwo />
				<AboutSection />
			</div>
		</body>
	</Layout>
</html>
