---

import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro'
import Hero from "../components/Hero.astro"
import SectionTwo from "../components/SectionTwo.astro"
import AboutSection from '@/components/AboutSection.astro'

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Falase Femi Portolio</title>
	</head>
	<Layout title="Falase Femi Portfolio.">
		<body>
			<div class="max-w-7xl w-full px-4  md:px-8 mx-auto">
				<Hero />
				<SectionTwo />
				<AboutSection />
			</div>
		</body>
	</Layout>
</html>
